div
    label(for="title") Title:
    input(name="title", type="text", id="title")

dvi
    label(for="author") Author:
    input(name="author", type="text", id="author")

div
    label(for="genre") Genre:
    input(name="genre", type="text", id="genre")

div
    label(for="year") Year:
    input(name="year", type="text", id="year")



