extends layout 

block content 
    h2= title 
    form(action="/books", method="post")
        include form
        br
        div 
            input(type="submit" value=`Create ${title}`)
        br
        div 
            a.button(href="/books") Cancel